:root {
  --font-color: #ffffff;
  /* フォントカラー */
  --bg-color: #000000;
  /* 背景色 */
  --nomal-font: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  /* メニューフォント */
  --title-font: "Times New Roman", Times, serif;

  --section-font: "Didot", serif;
}

body {
  font-size: 16px;
  color: var(--font-color);
  /* フォントカラーを使用 */
  background-color: var(--bg-color);
  /* 背景色を使用 */
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  padding: 0 7%;
  z-index: 10;
  position: fixed;
  width: 100%;

  .logo {
    height: 100%;
  }

  nav ul {
    display: flex;

    li {
      padding: 0 18px;
      font-family: var(--menu-font);
    }
  }
}


.overlay-text {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  /* 絶対的な位置 */
  top: 28%;
  /* 上から50%の位置 */
  left: 5%;
  /* 左から50%の位置 */
  color: #000000;
  /* テキストの色 */
  z-index: 1;
  /* 動画の下に配置 */
  font-size: clamp(1rem, 5vw, 4.5rem);
  /* フォントサイズの動的調整 */
  text-shadow: 1px 1px 5px;
}

.overlay-text h1:nth-child(2) {
  /* スタイル指定 */
  font-size: var(--font-size);
  color: #ffffff;
  transform: translate(50px, 20px);
}

.video-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* ビデオがコンテナを超えないようにする */

  /* トランジションを追加 */
  transition: opacity 0.5s ease;
  opacity: 1;
  /* 初期状態 */

}


.video-background video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: opacity 0.5s ease;
  opacity: 1;
  /* 初期状態 */
}

.video-background video.hide {
  opacity: 0;
  /* 非表示状態 */
}


@keyframes blurAnimation {
  from {
    filter: blur(0px);
  }

  to {
    filter: blur(30px);
  }
}

.blur-background {
  animation: blurAnimation 1s ease forwards;
}


.container {
  padding: 0 7%;
}

#Context {

  h2 {
    font-family: var(--title-font);
    font-size: 4rem;
  }

  .text {
    max-width: 650px;

    p {
      font-family: var(--nomal-font);
      font-weight: bold;
      margin-top: 60px;
      font-size: 1.7rem;
    }
  }
}


#About-us {
  margin-top: 100px;
  height: 1100px;
  width: 100%;
}

.section-name {

  p:nth-child(2) {
    line-height: 0.2;
  }

  display: flex;
  align-items: center;
}

.en-title {
  font-family: var(--section-font);
  font-style: italic;
  font-size: 1.3rem;

}

.jp-title {
  font-family: var(--title-font);
}

.title-decoration {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  span {
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    display: block;
  }

  width: 13px;
  height: 42px;
}

.contents {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  width: 100%;

  .text-content {
    padding-left: 70px;
    border: 1px solid lime;
    height: 500px;
    flex: 1 1 50%;

    .text-title {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;

      h3 {
        font-family: var(--title-font);
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 3.5rem;
      }
    }

    .text {
      border: 1px solid pink;
      margin-top: 20px;

      h4 {
        font-family: var(--section-font);
        font-weight: 400;
        font-size: 2.4rem;
      }
      p{
        margin-top: 20px;
        font-family: var(--nomal-font);
        font-weight: bolder;
        font-size: 1.5rem;
      }
    }
  }

  .image-content {
    border: 1px solid red;
    height: 500px;
    flex: 1 1 50%;
  }
}