:root {
  --font-color: #ffffff;
  /* フォントカラー */
  --bg-color: #000000;
  /* 背景色 */
  --nomal-font: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  /* メニューフォント */
  --title-font: "Times New Roman", Times, serif;

  --section-font: "Didot", serif;
}

body {
  font-size: 16px;
  color: var(--font-color);
  /* フォントカラーを使用 */
  background-color: var(--bg-color);
  /* 背景色を使用 */
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  padding: 0 7%;
  z-index: 10;
  position: fixed;
  width: 100%;

  .logo {
    height: 100%;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    position: relative;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    z-index: 10;

    span {
      display: inline-block;
      transition: all 0.4s;
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 2px;
      background: #fff;

      &:nth-of-type(1) {
        top: 15px;
        width: 45%;
      }

      &:nth-of-type(2) {
        top: 23px;
        width: 35%;
      }

      &:nth-of-type(3) {
        top: 31px;
        width: 20%;
      }
    }

    &.active {
      span {
        &:nth-of-type(1) {
          top: 18px;
          left: 18px;
          transform: translateY(6px) rotate(-135deg);
          width: 30%;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          top: 30px;
          left: 18px;
          transform: translateY(-6px) rotate(135deg);
          width: 30%;
        }
      }
    }
  }

  nav ul {
    display: flex;

    li {
      padding: 0 18px;
      font-family: var(--menu-font);
    }
  }

  /* メディアクエリ */
  @media (max-width: 1024px) {
    .menu-icon {
      display: block;
    }

    .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      /* ヘッダーの高さに合わせて調整 */
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      /* デザインに合わせて調整 */
      border-top: 1px solid #ccc;
      /* デザインに合わせて調整 */
      color: #ffffff;

    }

    .nav-menu.active {
      display: flex;
    }

    .nav-menu ul {
      flex-direction: column;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        border: 1px solid rgb(255, 255, 255);
        display: block;
        width: 80%;
        text-align: center;
        padding: 15px;
        margin: 20px;

        &:hover {
          opacity: 0.5;
        }
      }

    }
  }
}



.overlay-text {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  /* 絶対的な位置 */
  top: 28%;
  /* 上から50%の位置 */
  left: 5%;
  /* 左から50%の位置 */
  color: #000000;
  /* テキストの色 */
  z-index: 1;
  /* 動画の下に配置 */
  font-size: clamp(1rem, 5vw, 4.5rem);
  /* フォントサイズの動的調整 */
  text-shadow: 1px 1px 5px;
}

.overlay-text h1:nth-child(2) {
  /* スタイル指定 */
  font-size: var(--font-size);
  color: #ffffff;
  transform: translate(50px, 20px);
}

@media (max-width: 1024px) {

  .video-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .overlay-text {
    position: static;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    font-size: clamp(1.3rem, 5vw, 4.5rem);
    transform: translateY(-50px);
  }

  .overlay-text h1:nth-child(2) {
    text-align: center;
    transform: none;
    margin-top: 40px;
  }

}

.video-background {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 1;

}


.video-background video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: opacity 0.5s ease;
  opacity: 1;
  object-fit: cover;
}

.video-background video.hide {
  opacity: 0;
}


@keyframes blurAnimation {
  from {
    filter: blur(0px);
  }

  to {
    filter: blur(30px);
  }
}

.blur-background {
  animation: blurAnimation 1s ease forwards;
}


.container {
  padding: 0 7%;
  margin-bottom: 100px;
}

#Context {

  h2 {
    font-family: var(--title-font);
    font-size: 4rem;

    @media (max-width: 1024px) {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 50px;
    }
  }



  .text {
    max-width: 650px;

    p {
      font-family: var(--nomal-font);
      font-weight: bold;
      margin-top: 60px;
      font-size: 1.7rem;


      @media (max-width: 1024px) {
        font-size: 1.1rem;
        margin-top: 20px;
      }
    }
  }
}


#About-us {
  margin-top: 100px;
  width: 100%;
}

.section-name {

  p:nth-child(2) {
    line-height: 0.2;
  }

  display: flex;
  align-items: center;
}

.en-title {
  font-family: var(--section-font);
  font-style: italic;
  font-size: 1.3rem;

}

.jp-title {
  font-family: var(--title-font);
}

.title-decoration {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  span {
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    display: block;
  }

  width: 13px;
  height: 42px;
}

.contents {
  width: 100%;

  .content {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    margin-top: 200px;

    @media (max-width: 1024px) {
      flex-direction: column;
      position: relative;
      flex: none;
      display: block;
      margin-top: 100px;
      padding: 0;
    }
  }

  .content:nth-child(2) {
    flex-direction: row-reverse;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }



  .text-content {
    padding-left: 70px;
    flex: 1 1 50%;

    @media (max-width: 1024px) {
      padding: 0;
    }

    .text-title {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;

      h3 {
        font-family: var(--title-font);
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 3.5rem;

        @media (max-width: 1024px) {
          font-size: 3.2rem;
        }
      }
    }

    .text {
      margin-top: 20px;
      margin-right: 50px;

      h4 {
        font-family: var(--section-font);
        font-weight: 400;
        font-size: 2.4rem;

        @media (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }

      p {
        margin-top: 20px;
        font-family: var(--nomal-font);
        font-weight: bolder;
        font-size: 1.5rem;

        @media (max-width: 1024px) {
          font-size: 0.9rem;
        }
      }
    }
  }

  .image-content {
    flex: 1 1 50%;

    @media (max-width: 1024px) {
      aspect-ratio: 16 / 9;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      flex: none;
      width: 80%;
      /* 追加 */
      height: 50%;
      /* 追加 */
    }

    picture {
      @media (max-width: 1024px) {
        opacity: 0.4;
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}

#cycle {
  margin-top: 200px;
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .text-content {

    flex: 1 1 50%;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .title-text {

      @media(max-width: 1024px) {
        text-align: center;
      }

      h3 {
        font-family: var(--title-font);
        font-size: 4rem;
        line-height: 1.3;

        @media (max-width: 1024px) {
          font-size: 2rem;
        }

      }

    }

    .subtext {
      position: relative;
      margin-top: 50px;
      font-family: var(--nomal-font);
      font-weight: bolder;
      font-size: 2rem;
      max-width: 600px;

      @media (max-width: 1024px) {
        font-size: 1rem;
      }

      .image-background {
        position: absolute;
        opacity: 0.3;
        bottom: -10%;
        left: 0;
        z-index: -1;
      }
    }
  }

  .image-content {
    flex: 1 1 50%;
    border: red solid 1px;

    @media (max-width: 1024px) {
      margin-top: 100px;
    }
  }
}

#service {
  padding-top: 100px;

  @media (max-width:1024px) {
    display: none;
  }

  .tab-area {

    #tabs {
      margin-top: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .tabs-nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: none;

        li {
          font-family: var(--nomal-font);
          font-weight: bold;
          display: inline-block;
          font-size: 2rem;
          margin: 0 0 0 100px;
          padding: 5px 15px 3px 15px;
          border-bottom: 1px solid #fff;
          cursor: pointer;
          background-color: rgb(0, 0, 0);
          opacity: 0.4;
        }

        li.selected {
          border: none;
          border-bottom: 1px solid white;
          opacity: 1;
        }
      }



      .tabs-panel {
        width: 100%;
      }
    }
  }

  .number {
    font-size: 5rem;
    font-family: var(--title-font);
  }

  .content {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 50px;

    .text-content {
      .title {
        font-family: var(--title-font);
        font-size: 2.8rem;
        line-height: 1.3;
      }

      .text {
        line-height: 2;
        font-family: var(--nomal-font);
        margin-top: 60px;

        ul li {
          h4 {
            font-weight: bold;
          }

          font-size: 1.6rem;
        }
      }

    }

    .image-content {
      img {
        width: 640px;
        height: 360px;
      }

      .contact-button {
        font-family: var(--nomal-font);
        position: absolute;
        border: 1px solid white;
        right: 0;
        bottom: 0;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 10px;

        &:hover {
          opacity: 0.5;
        }
      }
    }

  }

  .solution {
    line-height: 2;
    margin-top: 40px;

    ul li {
      h4 {
        font-weight: bold;
      }

      font-family: var(--nomal-font);
      font-size: 1.6rem;
    }

    p {
      line-height: 2;
      font-family: var(--nomal-font);
      font-size: 1.6rem;
      margin-top: 40px;
      margin-bottom: 100px;
    }
  }

}

.slider {
  margin: 0 auto !important;
}


.slick-dotted.slick-slider {
  max-width: 60%;

  @media (max-width:1024px) {
    max-width: 100%;
  }
}

.video-container {
  text-align: center;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
}

.slick-dots {
  li {
    button {
      &:before {
        font-family: 'slick';
        font-size: 40px !important;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '-' !important;
        text-align: center;
        opacity: .25;
        color: rgb(255, 255, 255) !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

#service-sp {

  #web-title {
    background-color: #458cde;
  }

  #movie-title {
    margin-top: 100px;
    background-color: #deaf45;
  }

  font-family: var(--nomal-font);

  .service-title {
    padding: 20px;
    margin-top: 30px;

    h2 {
      font-size: 1.3rem;
      line-height: 1.3;
      font-family: var(--title-font);
    }
  }

  .text-area {

    margin-top: 30px;

    .text-title {
      display: flex;
      font-family: var(--title-font);

      .number {
        font-size: 2rem;

      }

      h3 {
        font-size: 1.6rem;
        margin-left: 20px;
      }
    }

    .text {
      margin-top: 20px;
    }

    .solution {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  
  .achievements{
    margin-bottom: 100px;
    h3{
      font-size: 1.5rem;
      display: block;
      text-align: center;
    }
  }

  iflame{
    object-fit: cover;
  }
}




#result {
  .cards {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1024px) {
      gap: 10px;
      justify-content: baseline;
    }

    .card {
      transition: all 0.2s;

      &:hover {
        transform: scale(1.1);
      }

      i {
        font-size: 4rem;

        @media (max-width: 1024px) {
          font-size: 1rem;
        }
      }

      font-family: var(--nomal-font);
      display: flex;
      flex: 0 0 30%;
      padding: 50px;
      margin-bottom: 100px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 400px;
      color: black;
      background-color: white;

      @media (max-width: 1024px) {
        padding: 10px;
        margin-bottom: 0;
        max-width: 100%;
        flex: 0 0 50%;
      }
    }

    .card-title {
      font-weight: bold;
      margin-top: 20px;
      font-size: 1.5rem;

      @media (max-width: 1024px) {
        font-size: 1rem;
      }
    }

    .card-text {
      margin-top: 10px;
      font-size: 1.2rem;
      color: rgb(0, 0, 0);

      @media (max-width: 1024px) {
        font-size: 1rem;
      }
    }
  }
}


#flow {
  .cards {
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: white;
    align-items: center;

    @media (max-width:1024px) {
      flex-direction: column;
    }

    .card {
      position: relative;

      i {
        font-size: 4rem;
      }

      .check-mark i {
        position: absolute;
        top: 0;
        left: 0;
        color: rgb(28, 160, 28);
        font-size: 40px;
      }

      font-family: var(--nomal-font);
      display: flex;
      flex: 0 0 25%;
      padding: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width:400px;
      /* border: 1px solid white; */
    }

    .card-title {
      font-weight: bold;
      margin-top: 20px;
      font-size: 1.5rem;
    }

    .card-text {
      margin-top: 10px;
      font-size: 1.2rem;
    }

    .triangle i {
      color: white;
    }
  }
}

#contact {
  padding-top: 100px;
  background-image: url("./assets/images/camera-sample.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 7%;

  .content {
    /* display: flex; */
    margin-top: 100px;
    position: relative;

    .text-area {
      display: flex;
      flex-direction: column;
      justify-content: center;


      .contact-logo {
        font-size: calc(1rem + 8vw);
        font-family: var(--nomal-font);
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        white-space: nowrap;
        opacity: 0.7;
        z-index: 0;
      }

      .message {
        font-size: 1.5rem;
        font-family: var(--nomal-font);
        font-weight: bold;
      }
    }
  }

  .mw-wp-form {
    font-family: var(--nomal-font);
    max-width: 1025px;
    background-color: rgb(143 139 139 / 50%);
    padding: 50px 0;
    margin-top: 50px;
    backdrop-filter: blur(12px);
  }

  .mw-wp-form__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .mw-wp-form dt,
  .mw-wp-form dd {
    line-height: 1.75;
    margin-top: 5px;
  }

  /* .mw-wp-form dt:not(:first-of-type),
  .mw-wp-form dd:not(:first-of-type) {
    margin-top: 30px;
  } */

  .mw-wp-form dt {
    width: 320px;
    padding: 30px;
    /* border: orange 1px solid; */
  }

  .mw-wp-form dd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 660px;
    /* border: rgb(0, 8, 255) 1px solid; */
  }

  .mw-wp-form__label {
    margin-right: 15px;
    padding: 8px 22px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    vertical-align: 1px;
    border: 1px solid white;
  }

  .mw-wp-form__label--req {
    background: #deaf45;
  }

  .mw-wp-form__label--opt {
    background: #878D8E;
  }

  .mw-wp-form dd input[type="text"],
  .mw-wp-form dd input[type="email"],
  .mw-wp-form dd textarea {
    box-sizing: content-box;
    width: 100%;
    padding: 15px 20px;
    background: #F5F5F5;
    color: #000000;
  }

  input[type="radio"] {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    vertical-align: -2px;
  }

  input[type="radio"]:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff200;
    content: '';
  }

  .mw-wp-form dd input[type="text"]:nth-child(n + 2) {
    margin-top: 15px;
  }

  .mw-wp-form dd input[type="tel"] {
    box-sizing: content-box;
    width: 66px;
    padding: 15px 20px;
    background: #F5F5F5;
  }

  .mw-wp-form dd textarea {
    height: calc(1.75em * 10);
  }

  .mw-wp-form dd input[type="text"]::placeholder,
  /*.mw-wp-form dd input[type="tel"]::placeholder,*/
  .mw-wp-form dd input[type="email"]::placeholder,
  .mw-wp-form dd textarea::placeholder {
    color: #797979;
  }

  /* Microsoft Edge */
  .mw-wp-form dd input[type="text"]::-ms-input-placeholder,
  /*.mw-wp-form dd input[type="tel"]::-ms-input-placeholder,*/
  .mw-wp-form dd input[type="email"]::-ms-input-placeholder,
  .mw-wp-form dd textarea::-ms-input-placeholder {
    color: #797979;
  }

  /* Internet Explorer */
  .mw-wp-form dd input[type="text"]:-ms-input-placeholder,
  /*.mw-wp-form dd input[type="tel"]:-ms-input-placeholder,*/
  .mw-wp-form dd input[type="email"]:-ms-input-placeholder,
  .mw-wp-form dd textarea:-ms-input-placeholder {
    color: #797979;
  }

  .mw-wp-form__automatic {
    margin: 0 0 0 20px;
    font-size: 15px;
  }

  .mw-wp-form__buttons {
    display: flex;
    justify-content: center;
  }

  .mw-wp-form__buttons button[type="submit"] {
    display: block;
    position: relative;
    width: 360px;
    height: 60px;
    margin: 0 30px;
    border: 1px solid #1B201A;
    color: #1B201A;
    transition: opacity .6s;
  }

  .mw-wp-form__buttons button[type="submit"]:hover {
    opacity: .6;
  }

  .mw-wp-form__buttons button[type="submit"]:before {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-top: 1px solid #1B201A;
    border-right: 1px solid #1B201A;
    content: '';
  }

  .mw_wp_form_confirm .mw-wp-form dd {
    padding-top: 15px;
  }

  @media screen and (max-width: 430px) {

    .mw-wp-form__list {
      margin-bottom: 60px;
    }

    .mw-wp-form dt {
      width: 100%;
    }

    .mw-wp-form dd {
      width: 100%;
    }

    .mw-wp-form dd:first-of-type,
    .mw-wp-form dd:not(:first-of-type) {
      margin-top: 15px;
    }

    .mw-wp-form dd input[type="text"]:nth-child(n + 2) {
      margin-top: 10px;
    }

    .mw-wp-form dd textarea {
      height: calc(1.75em * 8);
    }

    .mw-wp-form__automatic {
      margin: 5px 0 0;
      font-size: 14px;
    }

    .mw-wp-form__buttons {
      flex-direction: column;
      align-items: center;
    }

    .mw-wp-form__buttons button[type="submit"] {
      width: 300px;
      margin: 0;
    }

    .mw-wp-form__buttons button[type="submit"]:not(:first-child) {
      margin-top: 30px;
    }


    .mw_wp_form_confirm .mw-wp-form dd {
      padding-top: 0;
    }

    .mw-wp-form__label {
      padding: 6px 16px;
    }

  }

}

.mw-wp-form__buttons {
  display: flex;
  justify-content: end;
  gap: 10px;

  padding-right: 45px;

  button {
    /* background-color: #6a6a21; */
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}


#message-container {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);

  .tk-message {
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    font-family: var(--nomal-font);
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
}

footer {
  border-top: 1px solid white;
  font-family: var(--nomal-font);
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;



  .container {
    width: 50%;
    padding: 0;

    @media (max-width: 1024px) {
      width: 100%;
      padding: 5px;
    }
  }


  .footer-logo {
    width: 10%;
    height: 10%;

    @media (max-width: 1024px) {
      width: 100px;
    }
  }

  .footer-overview {
    font-size: 1.2em;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .footer-nav {
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    @media (max-width: 1024px) {
      padding: 0;
      width: 100%;
      display: block;
    }

    nav ul {
      display: flex;
      gap: 50px;
      justify-content: space-between;


      @media (max-width: 1024px) {
        display: block;
        text-align: center;
        width: 100%;
        gap: 0;
      }

      @media (max-width: 1024px) {
        li {
          border: 1px solid rgb(255, 255, 255);
          display: block;
          padding: 20px;
          font-size: 1rem;
        }
      }

    }
  }

  .info-area {
    margin-top: 10px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width:1024px) {
      flex-direction: column;
    }
  }

  #copy {
    float: right;
    font-size: 0.7em;
  }

}